#sec1, #sec2, #sec3 {
  float: left;
  width: 33%;
}

img {
  width: 70%;
  height: 400px;
  display: block;
  margin: auto;
}

#sec1, #name, #future {
  text-align: center;
}

h1, #name, #future {
  font-family: "trajan pro";
}

html {
  background-color: palegoldenrod;
}

/* teste novo */

body{
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}
h1{
  font-family: 'Abril Fatface', cursive;
  padding: 40px 40px 10px 40px;
}
.bg1{
  background-color: #feb236;
}
.bg2{
  background-color: palegoldenrod;
}
.centerImage{
  padding-top: 25px;
  padding-bottom: 65px;
}
.main{
  margin: 40px 40px 40px 40px;
  border-radius: 10px;
}
p {
  text-align: left;
}
li {
  text-align: left;
}
.content{
  padding: 50px;
}
footer{
  padding-bottom: 15px;
}
h2 {
  padding-bottom: 20px;
}
h1{
  margin-bottom: 40px;
}
.topPad {
  padding-top: 40px;
}


#loader {
  display: none;
}

#card {
  display: none;
}

/*fim teste */
